body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 100px;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: navy;
  margin-right: 75px;
  margin-left: 75px;

}

h4{
 color: navy;
  margin-left: 80px;
  margin-right: 150px;
  font-family: verdana;
}

